#hello{
 margin-top:5%;
 text-align:center;
 font-family: 'Raleway', sans-serif;
 font-size: 80px;
}
.pro-pic{
    width:600px;
    height:600px;
    margin: 5% 20%;
}
.intro{
    margin:5%;
    font-size:30px;
    font-family: 'Oxygen', serif;
}
#top-hist{
    margin-top:5%;
}
.hist{
    text-align:center;
    color:blue;
    font-size:30px;
}
#tech{
    text-align:center;
}
.course-hist{
    text-align:center;
}
.courses{
    text-align:center;
}
.date-work{
    font-size:20px;
    text-align:center;
}
.proj-top{
    text-align:center;
    color:#2866a7;
    margin-top:5%;
}
ul{
    list-style-type: none;
}
.quote{
    margin-top:3%;
    border-style: solid;
    font-size:40px;
    text-align:center;
    background-color:#2866a7;
    color:white
}
.quote:hover{
    background-color:black;
    color:#2866a7;
}
.contact{
    margin-top:5%;
    margin-left:45%;
}
input{
    display:block;
    width:300px;
}
textarea{
    display:block;
    width:300px;
    height:150px;
}
label{
    font-size:30px;
    font-family:"Oxygen";
    color:white;
}
.contact-page{
    background-color:#2866a7;
}